# For the iCE40 UltraPlus (iCE40UP5K-QFN) Breakout Board

# RGB LED
set_io -nowarn LED_R 41
set_io -nowarn LED_G 40
set_io -nowarn LED_B 39

# SWITCHES (SW2 on the board)
#set_io -nowarn SW[0] 23
#set_io -nowarn SW[1] 25
#set_io -nowarn SW[2] 34
#set_io -nowarn SW[3] 43

# Clock
set_io clk 35
set_frequency clk 12

# bank 0
#set_io IOT_39A 26
#set_io IOT_38B 27
#set_io IOT_42B 31
#set_io IOT_43A 32
#set_io IOT_45A_G1 37
#set_io IOT_51A 42
#set_io IOT_50B 38

# SPI
#set_io SPI_SS 16
#set_io SPI_SCK 15
#set_io SPI_MOSI 17
#set_io SPI_MISO 14

# RS232
#set_io -nowarn RX 6
#set_io -nowarn TX 9
#set_io -nowarn RX 13
#set_io -nowarn TX 14

#set_io -nowarn RX 15
#set_io -nowarn TX 14
#set_io -nowarn spi_cs 16 # Drive high to ensure that the SPI flash is disabled

set_io -nowarn RX 17
set_io -nowarn TX 14
set_io -nowarn spi_cs 16 # Drive high to ensure that the SPI flash is disabled

### UART (FTDI Channel B) - https://github.com/alangarf/apple-one/blob/master/boards/upduino/yosys/ice40up5k.pcf
#set_io RX   12
#set_io TX   21
#set_io uart_cts  13


### UART (FTDI Channel B) - https://github.com/mcmayer/iCE40/blob/master/ice40hx8k.pcf
#set_io RS232_RX_i B10
#set_io RS232_TX_o B12
#set_io RTSn       B13
#set_io CTSn       A15
#set_io DTRn       A16
#set_io DSRn       B14
#set_io DCDn       B15